header {
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  color: #DCE7E2; }
  header .header-container {
    text-align: center;
    font-size: 1.5em;
    padding-top: 10%;
    background: linear-gradient(#5B8DA3, #76cccc);
    padding-bottom: 20px;
    display: flex;
    flex-flow: column;
    height: 100%; }
    header .header-container .content-container {
      margin: 0 auto; }
      header .header-container .content-container h1 {
        padding-top: 10px;
        font-size: 4em; }
      header .header-container .content-container h2 {
        display: inline-block;
        margin: 10px; }
      header .header-container .content-container .fa-minus {
        font-size: .8em; }
      header .header-container .content-container .links {
        margin: 80px;
        display: inline-block;
        font-size: 1.5em;
        text-decoration: none;
        color: white; }
      @media screen and (max-width: 767px) {
        header .header-container .content-container {
          font-size: .8em;
          display: block; }
          header .header-container .content-container h2 {
            display: block; }
          header .header-container .content-container .fa-minus {
            display: none; }
          header .header-container .content-container .links {
            font-size: .5em;
            margin: 10px; } }

main {
  font-family: 'Raleway', sans-serif; }
  main h3 {
    font-size: 3em;
    font-weight: 800; }
  main .title {
    float: left;
    width: 30%; }
    main .title h3 {
      color: #5B8DA3;
      font-size: 2em; }
    main .title .pro-image {
      height: 200px;
      width: 200px;
      background-image: url(../img/profile.jpg);
      background-size: cover;
      border-radius: 50%; }
  main .content {
    float: left;
    width: 70%; }
  @media screen and (max-width: 767px) {
    main .title, main .content {
      width: 100%; }
      main .title .descr, main .content .descr {
        font-size: 1.1em; } }
  main .descr {
    font-size: 1.5em; }
  main .about {
    padding: 60px 40px;
    vertical-align: middle;
    overflow: auto;
    color: #5B8DA3; }
    main .about .content p {
      margin: 30px; }
    @media screen and (max-width: 767px) {
      main .about {
        padding: 60px 10px; } }
  main .experience {
    background: linear-gradient(#5B8DA3, #76cccc);
    padding: 20px;
    overflow: auto;
    color: white; }
    main .experience h3 {
      color: white; }
    main .experience .title {
      color: white; }
    main .experience .descr {
      font-size: 1em; }
    main .experience .avtk {
      margin-top: 40px; }
    @media screen and (max-width: 767px) {
      main .experience .car {
        display: none; }
      main .experience .content p {
        margin-top: 10px; } }
  main .projects {
    padding: 60px 40px;
    min-height: 100%;
    overflow: auto; }
    main .projects .content {
      display: flex;
      flex-flow: row wrap; }
      main .projects .content .card {
        position: relative;
        width: 400px;
        max-height: 375px;
        margin: 20px auto;
        text-align: center;
        flex-flow: row nowrap; }
        main .projects .content .card h4 {
          font-size: 1.5em;
          font-weight: 600; }
        main .projects .content .card a:hover {
          text-decoration: none; }
        main .projects .content .card p, main .projects .content .card .fa-database {
          margin-top: 20px; }
        main .projects .content .card .db {
          font-size: 2em; }
        main .projects .content .card .project-image {
          height: 165px; }
        main .projects .content .card .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: .5s ease;
          background-color: #76cccc; }
          main .projects .content .card .overlay .text {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
            opacity: 1; }
            main .projects .content .card .overlay .text .l {
              height: 100%;
              border: 1px solid white;
              margin-top: 10px;
              padding: 5px;
              background-color: #5B8DA3; }
      main .projects .content .card:hover .overlay {
        opacity: .9; }
  main .education {
    background: linear-gradient(#5B8DA3, #76cccc);
    padding: 20px;
    overflow: auto; }
    main .education .uw-image {
      background-image: url("../img/uw.png");
      height: 200px;
      width: 200px;
      background-size: 200px 200px;
      background-repeat: no-repeat; }
    main .education h3, main .education .descr {
      color: white; }
    main .education .descr h3 {
      font-size: 2em;
      font-weight: 0; }
    main .education .descr h4 {
      font-size: 1.15em; }
    main .education .descr small {
      color: white; }
  main .contact {
    padding: 20px;
    overflow: auto;
    text-align: center; }
    main .contact form {
      font-size: 1.5em; }
      main .contact form input, main .contact form textarea {
        border: 2px solid #5B8DA3; }
      main .contact form .contact-info label {
        margin: 10px 20px; }
        main .contact form .contact-info label h4 {
          color: #5B8DA3;
          font-weight: 800; }
      main .contact form .input-button {
        margin-top: 10px;
        background-color: #5B8DA3;
        border: 2px solid #76cccc;
        color: white; }
  @media screen and (max-width: 767px) {
    main .title {
      text-align: center; }
      main .title .pro-image {
        margin: 0 auto; } 
        main .projects .content .card .overlay .text .l{
          display: none;
        }
        main .projects .content .card:hover .overlay {
          display: none
        }
      }
